.header_tab img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px ; /* Adds breathing room around the logo */
    width: 80px;
    filter: invert(100%);

}
.header_tab {
    background-color: #1c3652; /* Light background for the header */
    top: 0;
    left: 0;
    margin: 0; /* Removes the gap above your logo */
}

/* Example for an h1 tag inside the header */
header h1 {
    margin-top: 0;
}

.header_tab  {
    margin: 0; /* Removes the gap above your logo */
}

.header_tab img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px ; /* Adds breathing room around the logo */
    width: 80px;
    filter: invert(100%);
}

body  {
    margin: 0;
    padding: 0;
    background-color: #fffcf2;
}


body p {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 16px;
    width: 1000px;
    text-align: left;
}

body h2 {
    font-family: 'Arial', sans-serif;
    color: #1c3652;
    margin: 12px;
}





